schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="accidents">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="Accident">
                    <xs:complexType>
                        <xs:sequence>

                        </xs:sequence>
                        <xs:attribute name="accident_index" type="xs:integer"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>